<!doctype html>
<html lang="en">
<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <%-include("../../layout/navbar") %>
    <div class="col-12 col-md-12 mt-2">
        <a href="/staffs/create" class="btn btn-primary" title="">Create</a>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Age</th>
                <th scope="col">Address</th>
                <th scope="col">Email</th>
                <th scope="col">Image</th>
                <th scope="col">Function</th>
            </tr>
            </thead>
            <tbody>
            <%data.forEach((item, index) => { %>
                <tr>
                    <th scope="row"><%= index + 1 %></th>
                    <td><%= item.Name %></td>
                    <td><%=  item.Age%></td>
                    <td><%= item.Address %></td>
                    <td><%= item.Email %></td>
                    <td><img src="<%item.Image%>" alt="Errorr img"></td>
                    <td>
                        <a onclick="return confirm('Are you sure?')" href="/staffs/<%= item.ID%>/delete" class="btn btn-danger" title="">Delete</a>
                        <a href="/staffs/<%=item.ID%>/edit" class="btn btn-primary" title="">Edit</a>
                    </td>
                </tr>
            <% }) %>

            </tbody>
        </table>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>